@CHARSET "UTF-8";


    .navbar-wrapper{ height: 45px}
    .navbar{ position:relative; z-index:1030}
    .navbar-black{ background-color: #222}
    .navbar-fixed-top{ position:fixed; top:0;left: 0; right: 0; z-index:1030}
     
    /*logo*/
    .logos{ display:inline-block; text-decoration:none; cursor:pointer}
    a.logos:hover{ text-decoration:none}
    .navbar .logos{height: 44px;line-height: 44px;margin-right: 10px;float: left}
    .navbar-logos,.navbar-logos-m{font-size: 16px;margin-left: 15%;}
    .navbar-slogan{ font-size:12px; cursor: default}
    .navbar .container{ position:relative}
    .navbar-userbar{position:absolute;top:0px; right:15px}
    .navbar .container .navbar-userbar{ right:0px}
     
    /*导航*/
    .nav{ z-index:1}
    .nav > ul{ font-size:0; line-height:0;margin: 0;padding: 0;}
    .nav > ul > li{ position:relative }
    .nav > ul > li,.nav > ul > li > a{ display:inline-block; height:44px; line-height:44px;text-align:center;font-size:14px}
    .nav > ul > li > a{ padding:0 20px}
    .nav > ul > li > a:hover,.nav > ul > li.current > a{background-color:rgba(255,255,255,0.2); text-decoration:none;
    	-webkit-transition: background-color 0.3s ease 0s;
    	-moz-transition: background-color 0.3s ease 0s;
    	-o-transition: background-color 0.3s ease 0s;
    	-ms-transition: background-color 0.3s ease 0s;
    	transition: background-color 0.3s ease 0s
    }
    @media (max-width: 767px) {
    	.logos{ margin-right: 0}
    	.navbar-nav{display: none}
    	.navbar-nav > ul > li{ width: 100%; text-align: left}
    	.navbar-nav > ul > li > a{display:block;padding:0 15px; text-align: left}
    	.nav-collapse ul,.nav-collapse li {width: 100%;display: block}
    	.js .nav-collapse {position: absolute;display: block;float:none; clear:both;max-height: 0;clip: rect(0 0 0 0);margin-left: -15px; margin-right: -15px;overflow: hidden;zoom: 1;
    		-webkt-transition:max-height 284ms ease 0s;
    		-moz-transition:max-height 284ms ease 0s;
    		-o-transition:max-height 284ms ease 0s;
    		-ms-transition:max-height 284ms ease 0s;
    		transition:max-height 284ms ease 0s}
    	.js-nav-active .nav-collapse.closed {max-height: none}
    	.nav-collapse.opened {max-height: 9999px}
    }
     
    /*导航条风格-黑色*/
    .navbar-black{background-color:#063e73e6;border-bottom:#22ca98e6 1px solid;-moz-box-shadow: 0 0 4px #333333;-webkit-box-shadow: 0 0 4px #333333;box-shadow: 0 0 4px #333333}
    .navbar-black .logos{ color: #fff }
    .navbar-black .navbar-logos-m{color: #eee}
    .navbar-black .navbar-nav > ul > li,
    .navbar-black .navbar-nav > ul > li > a{ color:#fff}
    .navbar-black .navbar-nav > ul > li > a:hover,
    .navbar-black .navbar-nav > ul > li.current > a{color:#fff}
    .navbar-black .navbar-userbar{ color: #fff}
    @media (max-width: 767px) {
    .navbar-black .navbar-nav > ul > li{border-bottom: solid 1px #222}
    .navbar-black .navbar-nav > ul > li > a:hover,
    .navbar-black .navbar-nav > ul > li.current > a{ background: #777}
    }
     
    /*面包导航*/
    .nav-toggle,a.nav-toggle{position:absolute; top:0px; right:15px; font-size: 20px; color:#999; padding:6px 11px;background-color:rgba(0,0,0,0.5);color:#fff;-webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none}
    .nav-toggle:hover,a.nav-toggle:hover{ text-decoration: none; color:#fff}